<section id="inner_content">
	<h4>SI QUIERE PONERSE EN CONTACTO CON NOSOTROS Y <br /> RECIBIR INFORMACION DE NUESTROS PRODUCTOS</h4>
	<ul>
		<li>jc@apelianshoemaker.com.ar</li>
		<li>info@apelianshoemaker.com.ar</li>
		<li>ventas@apelianshoemaker.com.ar</li>	
	</ul>
</section>

