header .contact_data {
	float:left;
	margin-top:23px;
}

header .navigation {
	float:right;
	margin-top:44px;
}

header .navigation li { /* ToDo: DRY this up */
	display:block;
	width:178px;
	height:30px;
	border-width: 1px;
	border-style: dashed;
	border-color: rgb(255, 252, 0); /* Fallback */
	background: rgb(0, 122, 66); /* Fallback */
  	background: rgba(0, 122, 66, 0.7);
}

header .navigation li a { /* ToDo: DRY this up */
	display:inline-block;
	vertical-align: top;
	width:100%;
	height:100%;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size:11px;
	font-weight: normal;
	color:#FFF;
}

header .navigation li a span { /* ToDo: DRY this up */
	display:inline-block;
	vertical-align: top;
	margin: 9px 0px 0px 14px;
}

#pages_contact header .navigation li, #pages_form header .navigation li, #shoes_trend header .navigation li {
	border-color: rgb(244, 251, 255); /* Fallback */
	background: rgb(25, 25, 25); /* Fallback */
  	background: rgba(25, 25, 25, 0.7);
}

/* Season Select PullDown */

#season_select {
	display:none;
	position: absolute;
	z-index: 1000;
	top:80px;
}

#season_select.show {
	display: block;
}

#season_select li {
	border-width: 1px;
	border-style: dashed;
	border-color: rgb(255, 252, 0); /* Fallback */
	background: rgb(0, 122, 66); /* Fallback */
  	background: rgba(0, 122, 66, 0.7);
	border-bottom:0px;
}

#season_select li:last-child {
	border-bottom:1px dashed rgb(255, 252, 0);
}

#season_select li:hover {
	background: rgb(0, 122, 66); /* Fallback */
  	background: rgba(0, 190, 60, 0.7);
}

#season_select li:active {
	background: rgb(0, 122, 66); /* Fallback */
  	background: rgba(0, 122, 66, 0.7);
}



/* Disable link / not in IE */

header .navigation li a {
       pointer-events: none;
       cursor: default;
}