// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* pages#form */

#pages_form #inner_content {
	width:742px;
	height:355px;
	margin-left:86px;
	padding: 30px 42px 18px 42px;
	background: #fff;
	border-width: 1px;
	border-style: dashed;
	border-color: rgb(244, 251, 255); /* Fallback */
	background: #FFF;
}

#pages_form #inner_content .form_header img {
	float: left;
	margin-right:39px;
}

#pages_form #inner_content .form_header ul {
	float: left;
	font-size:9.7px;
	color:#000;
	margin-right:110px;
}

#pages_form #inner_content .form_header ul li span {
	font-weight: normal;
}

#pages_form #inner_content .form_header p {
	float: left;
	clear:right;
	display:block;
	font-size: 11px;
	color:#000;
}

body #pages_form #inner_content .form_page hr {
	clear:both;
	margin:0px 0px 0px 0px;
	border-style: dashed;
	border-color:#FFF;
}

#pages_form #inner_content .form_content {
	clear:both;
}
