/* orders#new */

#inner_content .form_page {
	width:800px;
	height:355px; 
	margin-left:86px;
	padding: 30px 42px 18px 42px;
	background: #fff;
	border-width: 1px;
	border-style: dashed; 
	border-color: rgb(244, 251, 255);
	background: #FFF;
}

#inner_content .form_header {
	display:block;
	width:742;
	height:70px;
	margin-top: 15px;
}

#inner_content .form_header img {
	float: left;
	margin-right:39px;
}

#inner_content .form_header ul {
	list-style:none outside none;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	float: left;
	line-height:9.7px;
	font-size:9.7px;
	color:#000;
	margin-right:110px;
}

#inner_content .form_header ul li span {
	font-weight: normal;
}

#inner_content .form_header p {
	float: left;
	clear:right;
	display:block;
	line-height:11px;
	font-size: 11px;
	color:#000;
}

#inner_content .form_content {
	float: none;
	clear:both;
	border-top: 1px dashed #C4C4C4;
}

#inner_content .form_content h4 {
	margin-top:12px;
	font-size: 12px;
	color:#000;
}

#new_order #formpart_01 li, #new_order #formpart_02 li,  #new_order #formpart_03 li, #new_order #formpart_04 li {
	margin:8px 0px;
}

#new_order #formpart_01 li label, #new_order #formpart_02 li label, #new_order #formpart_03 li label, #new_order #formpart_04 li label {
	margin-top:6px;
}

#new_order .remove_fields.dynamic {
	display:inline-block;
	width:auto;
	height:15px;
	padding:5px 8px;
	float: right;
	vertical-align: top;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */	
	border:1px solid #CCC;
	background: #f1f2f2; /* fallback */
	background: -moz-linear-gradient(top, #FFF, #f1f2f2); /* FF3.6 en adelante*/
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFF),color-stop(1, #f1f2f2)); /* Saf4+, Chrome en adelante*/
	text-decoration: none;
	text-shadow: 0 1px 0 white;
	box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
/*	margin-left:10px; */
	margin-right:18px; 	
	color:#5E6469;
	list-style:none outside none;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

#new_order .remove_fields.dynamic:hover {
	color:#f26d7d;
}

#new_order .remove_fields.dynamic:active {
	color:#ff0000;
}

#new_order .links .add_fields {
		display:inline-block;
		width:auto;
		height:15px;
		padding:5px 8px;
		vertical-align: top;
		-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */	
		border:1px solid #CCC;
		background: #f1f2f2; /* fallback */
		background: -moz-linear-gradient(top, #FFF, #f1f2f2); /* FF3.6 en adelante*/
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFF),color-stop(1, #f1f2f2)); /* Saf4+, Chrome en adelante*/
		text-decoration: none;
		text-shadow: 0 1px 0 white;
		box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
		color:#5E6469;
		list-style:none outside none;
		font-family: Helvetica, Arial, sans-serif;
		font-weight: bold;
}

#new_order .links .add_fields:hover {
	color:#00aeef;	
}

#new_order .links .add_fields:active {
	color:#0072bc;	
}

/* orders#show */

#mufasa_00 {
	padding:15px;
	width:785px;
}

#mufasa_01 {
	display:block;
	width:110px;
	height:30px;
	margin-top:15px;
	border: 1px dashed #C4C4C4;
}

#mufasa_01 a {
	display:block;
	padding:6px;
	width:100%;
	height:100%;
	text-decoration:none;
	color:#000;
	font-family: Helvetica, Arial, sans-serif;
}


/*

#orders_new #inner_content .form_content form {
	margin-top:12px;
	font-size: 12px;
	color:#000;
}

#orders_new #new_order #form_pannel_01, #orders_new #new_order #form_pannel_02 {
	padding:0px;
}

#orders_new #new_order #formpart_01, #orders_new #new_order #formpart_02, #orders_new #new_order #formpart_03, #orders_new #new_order #formpart_04  {
	overflow:hidden;
	display:inline-block;
	width:360px;
	height:96px;
	border: 1px solid #999;
	
}

#orders_new #new_order #formpart_01 li, #orders_new #new_order #formpart_02 li, #orders_new #new_order #formpart_03 li, #orders_new #new_order #formpart_04 li {
	position:relative;
}

#orders_new #new_order #formpart_01 li label, #orders_new #new_order #formpart_02 li label, #orders_new #new_order #formpart_03 li label, #orders_new #new_order #formpart_04 li label {
	display:inline-block;
	margin-top:6px;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 9px;
	color:#000;
}

#orders_new #new_order #formpart_01 li input, #orders_new #new_order #formpart_02 li input, #orders_new #new_order #formpart_03 li input, #orders_new #new_order #formpart_04 li input {
	height:12px;
	width:250px;
	padding-top:4px;
	padding-bottom:4px;
}

*/

