/* orders#new */

#orders_new #inner_content {
	width:742px;
	height:355px; 
	margin-left:86px;
	padding: 30px 42px 18px 42px;
	background: #fff;
	border-width: 1px;
	border-style: dashed;
	border-color: rgb(244, 251, 255); /* Fallback */
	background: #FFF;
}

#orders_new #inner_content .form_header {
	display:block;
	width:auto;
	height:70px;
	border-bottom:1px;
	border-style: dashed;
	border-color:#C4C4C4;
}


#orders_new #inner_content .form_header img {
	float: left;
	margin-right:39px;
}

#orders_new #inner_content .form_header ul {
	float: left;
	font-size:9.7px;
	color:#000;
	margin-right:110px;
}

#orders_new #inner_content .form_header ul li span {
	font-weight: normal;
}

#orders_new #inner_content .form_header p {
	float: left;
	clear:right;
	display:block;
	font-size: 11px;
	color:#000;
}

#orders_new #inner_content .form_content {
	float: none;
	clear:both;
}

#orders_new #inner_content .form_content h4 {
	margin-top:12px;
	font-size: 12px;
	color:#000;
}

#orders_new #inner_content .form_content form {
	margin-top:12px;
	font-size: 12px;
	color:#000;
}

#orders_new #new_order #form_pannel_01, #orders_new #new_order #form_pannel_02 {
	padding:0px;
}

#orders_new #new_order #formpart_01, #orders_new #new_order #formpart_02, #orders_new #new_order #formpart_03, #orders_new #new_order #formpart_04  {
	overflow:hidden;
	display:inline-block;
	width:360px;
	height:96px;
	border: 1px solid #999;
	
}

#orders_new #new_order #formpart_01 li, #orders_new #new_order #formpart_02 li, #orders_new #new_order #formpart_03 li, #orders_new #new_order #formpart_04 li {
	position:relative;
}

#orders_new #new_order #formpart_01 li label, #orders_new #new_order #formpart_02 li label, #orders_new #new_order #formpart_03 li label, #orders_new #new_order #formpart_04 li label {
	display:inline-block;
	margin-top:6px;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 9px;
	color:#000;
}

#orders_new #new_order #formpart_01 li input, #orders_new #new_order #formpart_02 li input, #orders_new #new_order #formpart_03 li input, #orders_new #new_order #formpart_04 li input {
	height:12px;
	width:250px;
	padding-top:4px;
	padding-bottom:4px;
}


