#shoes_index #inner_content {
	width:auto;
	height:auto;
	margin:20px;
	background:white;
}

#shoes_show #inner_content {
	width:auto;
	height:auto;
	margin:20px;
	background:white;
}

#shoes_trend #inner_content {
	width:auto;
	height:auto;
	margin:20px;
	background:white;
}