<section id="inner_content">
	<ul id="shoe_reel">
		<li></li>
		<li class="current"></li>
		<li></li>
	</ul>
	<div id="shoe_detail">
		<div class="shoe_photo big">
			<ul class="catalog_page">
				<li>99/99</li>
			</ul><!-- .catalog_page -->
			<ul class="page_navigation">
				<li>-|</li>
				<li>|-</li>
			</ul><!-- .page_navigation -->
			<ul class="zoom_navigation">
				<li>(+)</li>
				<li>(-)</li>
			</ul><!-- .zoom_navigation -->	
			<ul class="shoe_data">
				<li>Articulo: <span>content</span></li>
				<li>Talles: <span>content</span></li>
				<li>Color: <span>content</span></li>
			</ul><!-- .shoe_data -->
		</div><!-- .shoe_photo -->
	</div><!-- .shoe_detail -->
</section>
