<ul class="contact_data">
	<li>APELIAN SHOE-MAKER /</li>
	<li>ADOLFO ALSINA 4082</li>
	<li>VILLA MARTELLI CP B1603ANR</li>
	<li>PCIA. DE BS. AS., ARGENTINA.</li>
	<li>TEL: 15-5005-3360</li>
</ul><!-- .contact_data -->
<ul class="navigation">
	<li><%= link_to(content_tag(:span, "CAMPAÑAS ANTERIORES"), trend_shoes_path) %></li>
</ul>