<ul class="contact_data">
	<li>QUIRNO COSTA 764,</li>
	<li>SAN FERNANDO CP (1646) CBP</li>
	<li>BUENOS AIRES, ARGENTINA</li>
	<li>TEL: 4145-2535 CEL:15 5808-2902</li>
</ul><!-- .contact_data -->
<ul class="navigation">
	<li>CAMPAÑAS ANTERIORES</li>
</ul>
