<ul class="contact_data">
	<li>APELIAN SHOE-MAKER /</li>
	<li>ADOLFO ALSINA 4082</li>
	<li>VILLA MARTELLI CP B1603ANR</li>
	<li>PCIA. DE BS. AS., ARGENTINA.</li>
	<li>TEL: 15-5005-3360</li>
</ul><!-- .contact_data -->
<ul class="navigation">
	<li id="season_select_button"><%= link_to content_tag(:span, pretty_campaign_name || "CAMPAÑAS ANTERIORES"), "#" %></li>
  <ul id="season_select">
      <%- Shoe.all_campaigns.each do |s| %>
        <li><%= link_to(content_tag(:span, pretty_campaign_name(s)), shoes_path(:campaign => s)) %></li>
      <%- end %>
	</ul>
</ul>
