<%= image_tag('logo_apelian_w180px.png') %>	
<nav>
	<ul>
		<li>COMPLETE SU FORMULARIO DE COMPRA</li>
		<li>TACO BAJO</li>
		<li>TACO MEDIO</li>
		<li>TACO ALTO</li>
		<li>TENDENCIA</li>
	</ul>
</nav>
