<!DOCTYPE html>
<html>
<head>
  <title>Realice su pedido</title>
  <%= stylesheet_link_tag    "active_admin" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= yield %>
</body>
</html>
